@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

/* .task-container {
  display: inline-block;
} */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: darkcyan;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  width: 100%
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: default;
}

.task-info {
  display: flex;
  justify-content: space-between;
}

.task-tags {
  display: inline-block;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  display: inline-block;
  background-color: darkslategray;
  color: white;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 3px;
  font-size: 12px;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.form-control label {
  display: inline-block;
}

.form-control input {
  width: 70%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 14px;
}

.tag-container {
  width: 70%;
  display: inline-block;
  justify-content: right;
}

.btn-tag {
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.sort-container {
  display: flex;
  justify-content: center;
}

/* .btn-sort {
  margin: 5px;
  padding: 5px;
  background-color: white;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
}

.btn-sort:visited {
  margin: 5px;
  padding: 5px;
  background-color: white;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
}

.btn-sort:active {
  margin: 5px;
  padding: 5px;
  background-color: green;
  color: white;
  border: 2px solid green;
  border-radius: 5px;
} */

